<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
	<link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
    <title>{{page.title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/theme.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54c0de0b1183e8c4" async="async"></script>

  </head>

  <body role="document">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-inner hidden-xs">
			<a href="https://github.com/tleonardi/tleonardi.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
      	</div>
      	<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#imgModal" data-toggle="modal">
		<img src="/img/tl_small.jpg" class="img-responsive img-circle" alt="Brand image">
	  </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          	{% if page.active == "home" %}
          	<li class="active"><a href="#">Home</a></li>
          	{% else %}
          	<li><a href="/">Home</a></li>
          	{% endif %}
            <li><a href="#about">About me</a></li>
            <li><a href="#contact">Contact</a></li>

        </ul>
        <div class="navbar-right" style="padding-right: 100px">
        	<small class="navbar-text" style="margin-bottom: 0px;">Follow me</small>
        	<span class="navbar-text addthis_horizontal_follow_toolbox" style="margin-bottom: 0px; margin-top: 7px;"></span>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
			</div>
        </div><!--/.nav-collapse -->

      </div>
    </nav>



<!--/MODAL FOR IMAGE -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>This is me looking smug!</h4>
      </div>
      <div class="modal-body">
	<img src="/img/tl.jpg" class="img-responsive" alt="My photo">
      </div>
      <div class="modal-footer">
	<p class="text-center"><small>This photo was shot in 2013 by <a href="http://www.horsthamann.com/" target="_blank">Horst Hamann</a> as part of the <a href="http://www.embl.de/leben/dna/" target="_blank">DNA portraits</a> exhibition at EMBL</small></p>
      </div>
    </div>
  </div>
</div>

	<div class="container theme-showcase" role="main">
    
